<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
    body {background-color: #B8CE8E;}
    h1 {
        font-family: "Lucida Console", "Courier New", sans-serif;
        font-size: 50px;
        text-align: center;
    }
    ul{
        font-family: "Lucida Console", "Courier New", sans-serif;
        font-size: 35px;
        text-align: center;
        list-style-type: none;

    }
    </style>
</head>
<body {% block event %}{% endblock %}>
{% block head %}{% endblock %}

<ul>
  <li>
    <a href="/">Main Page</a>
  </li>

  <li>
    <a href="/create_page">Create Listing</a>
  </li>
  <li>
    <a href="/shopping_cart">shopping cart</a>
  </li>
  <li>
      <a href="/register">register a new account </a>
  </li>
  <li>
      <a href="/login">login a account</a>
  </li>
  <li>
      <a href="/logout">logout current account</a>
  </li>
  <li>
      <a href="/sales_page">My Items</a>
  </li>
  <li>
      <a href="/orders_page">My Orders</a>
  </li>
</ul>

{% block body %}{% endblock %}
{#added for register account#}



</body>
</html>
