<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href=../style.css />
</head>

<body {% block message %}{% endblock %}>
{% block head %}{% endblock %}
<ul>
  <li>
    <a href="/">main page</a>
  </li>
</ul>


{% block account %}{% endblock %}
{% block redirect %}{% endblock %}

<script src="/script/cart.js"></script>
</body>
</html>

