{% extends "base.html" %}
{% block title %}Login System{% endblock %}
<!-- add form for login --vv>
{% block body %}
<form action="/login" id="login-form" method="post" enctype="multipart/form-data">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Your Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <input type="submit" value="login">
</form>

{% endblock %}
