{% extends "base.html" %}
{% block title %}Login System{% endblock %}
<!-- add form for login -->



{% block body %}
    <main>
    <h2>
        Login Required
    </h2>
{#    login form    #}
<form action="/login" id="login-form" method="post" enctype="multipart/form-data">

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Your Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="remember-me">
        <input type="checkbox" id="remember-me" /> Remember me for 7 days
    </label>

    <input type="submit" value="Login In" onclick="validateForm()">
</form>
    <p>
        Forget your password? Click here
    </p>
    <p>
    Don't have an account? <a href="/register">register a new account</a>
    </p>

    </main>
    <script>
        function validateForm()
        {
            // Get the form element
            var form = document.getElementById("login-form");

            // Get the email and password input fields
            var emailInput = form.elements["email"];
            var passwordInput = form.elements["psw"];

            // Check if either input is empty
            if (!emailInput.value || !passwordInput.value) {
                alert("Please fill in both the email and password fields.");
                return false;
            }

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/login", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            // Parse the server's response
            var response = JSON.parse(this.responseText);
            if (response.success) {
                // If the login was successful, submit the form
                form.submit();
            } else {
                // If the login was not successful, display an error message
                alert(response.error);
                window.location.href = "/login";
            }
        }
    };
            xhr.send("email=" + encodeURIComponent(emailInput.value) + "&psw=" + encodeURIComponent(passwordInput.value));
}


    </script>
{% endblock %}
