{% extends "base.html" %}

{% block title %}
    5bytes
{% endblock %}

{% block event %}
onload="getAllOnSaleProducts();"
{% endblock %}

{% block head %}
    <h1>Welcome to Shop {{username}}</h1>
{% endblock %}


{% block body %}
    {% if hide==False %}
    <ul>
    <li>
      <a href="/register">register a new account </a>
    </li>

    <li>
      <a href="/login">login a account</a>
    </li>
    </ul>

{% else %}
        <ul>
      <li>
      <a href="/logout">logout current account</a>
      </li>
        </ul>

{% endif %}
    <div id="products"></div>

    <script src="/script/main.js"></script>
{% endblock %}


