{% extends "base.html" %}

{% block title %}
    5bytes
{% endblock %}

{% block event %}
onload="getAllOnSaleProducts();"
{% endblock %}

{% block head %}
    <header><h1>Welcome to Shop {{username}}</h1>
    </header>


{% endblock %}
{% block login_register %}

{% if hide==False %}

    <li>
      <a href="/login">Login a Account</a>
    </li>

{% else %}

      <li>
      <a href="/logout">Logout Current Account</a>
      </li>

{% endif %}

{% endblock %}

{% block body %}

    <script src="/script/main.js"></script>
    <div id="products"></div>
{% endblock %}


