{% extends "base.html" %}

{% block reg %}

<form action="/register" method="post">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Your Email" name="uname" required>


    <label for="psw"><b>password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="name"><b>name</b></label>
    <input type="name" placeholder="Enter Your name" name="name" required>
    <input type="submit" value="registration">
</form>

{% endblock %}